In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
path1=os.getcwd()
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
path=path1+'/Mod_Data.csv'
data=pd.read_csv(path)
data.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Distance in m
0,0,5728806,Large private room in Nolita,4271676,Nat,Manhattan,Nolita,40.72217,-73.99481,Private room,120,7,3,2015-09-01,0.06,3,0,3531.592026
1,1,2243769,Super Bowl New York City Apartment,11460768,Brian,Manhattan,Upper West Side,40.80020,-73.96045,Entire home/apt,1500,1,0,NaN,NaN,1,0,1053.236649
2,2,35515415,COZY APT CLOSE TO LGA & JFK AND TRANSPORTATION,267193767,Jenny,Queens,East Elmhurst,40.75558,-73.89316,Entire home/apt,200,2,4,2019-07-05,4.00,1,365,3625.877178
3,3,36202006,Stream-Pressed Paradise (Laundry Room Setup),43392243,Rita,Staten Island,Concord,40.60110,-74.07830,Shared room,30,2,0,NaN,NaN,4,82,11083.756514
4,4,3780951,Charming Harlem apartment,16065171,Gina,Manhattan,Harlem,40.81022,-73.94266,Shared room,115,1,16,2019-05-26,0.27,1,365,1928.404038

In [70]:
X_enc_rt = pd.get_dummies(data.room_type, prefix='Roomtype')
X_enc_nh = pd.get_dummies(data.neighbourhood_group, prefix='NBG')
X_enc_ng = pd.get_dummies(data.neighbourhood, prefix='NB')

In [71]:
Var = pd.concat([data, X_enc_rt,X_enc_nh,X_enc_ng], axis=1)
print('Var columns ',Var.shape)
print('Data columns ',data.shape)

Var columns  (34226, 243)
Data columns  (34226, 18)

In [75]:
D1=Var[(Var['price'] >= 30)&(Var['price'] <= 350)]
D2=D1.iloc[:,7:26]
#D1.columns

In [76]:
X=D1.drop(['name','host_id','host_name','neighbourhood_group','neighbourhood','room_type','price','minimum_nights','number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count'],axis=1)
Y=D1['price']
Y=np.log(Y)

In [77]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2, random_state=0)
sklr = LinearRegression()
sklr.fit(X_train,y_train)
sklr.score(X_test,y_test)

0.5878869942798393